config.ini
settings.json
treatment_dates.py
*.pkl
*.txt
*.db
test_files/
*.dat
.*
profile_output.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyBuilder
.pybuilder/
target/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest
.pytest*
