config.ini
settings.json
treatment_dates.py
*.pkl
example*.txt
prompt.txt
*.db
test_files/
*.dat

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyBuilder
.pybuilder/
target/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest
.pytest*
